# ----------------- #
# - Ignored files - #
# ----------------- #

# Logs et erreurs PHP
logs/
*.log

# Fichiers de configuration sensibles
src/config/.env
src/config/database.php

# Dépendances (au cas où)
node_modules/
vendor/

# Cache et fichiers temporaires
*.cache
*.tmp
*.swp

# Système (Windows / macOS)
.DS_Store
Thumbs.db

# Base de données et fichiers SQL
*.sql
*.sqlite

# Dossier sensibles
src/.env

# Fichier d'importation base de données
seed_database.php